.ant-card title css-dev-only-do-not-override-1me4733{
    position: relative;
    .back {
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
}